.well
  %h3 Disk Partitions
  %table.table
    %thead
      %tr
        %th Name
        %th
        %th Stats
        %th Usage
        %th Mount Path
    %tbody
      - if @snapshot
        - @snapshot.disks.each do |disk|
          %tr
            %td= disk['name']
            %td
              .progress{ style: "width: 70px" }
                .progress-bar.progress-bar-info{ data: { use: disk['use'] } }
            %td #{ disk_stats disk }
            %td= disk['use']
            %td= disk['mount_path']