.row
  .col-md-6
    = render 'servers/boards/general'
  .col-md-6
    = render 'servers/boards/disks'
.row
  .col-md-6
    = render 'servers/boards/memory'
  .col-md-6
    = render 'servers/boards/cpu'
